.row
    .col-12.wishList_col_container.mt-3
        if !addToList
            h4 Welcome!
            p Click the heart to add items!
        else
            h4 Welcome #{addToList.user1.username}
            each game in addToList.user1.wishList
                 img.img-thumbnail(src=game.user1, alt="")
            p.wishList_totalPrice #{addToList.user1.total}     
        