.row
    .col-12.wishList_col_container.mt-3
        if !addToList
            h4 Welcome!
            p Click the heart to add items!
        else
            //- h4 Welcome #{user1.username}
            //- each game in addToList.wishList 
        