extends layout

block content
    .container
        include ./navbars/navigation_signIn.pug
        .row
            .col-sm-12.col-md-9
                include ./searchGames/searchGames.pug
            .col-md-3
                include ./wishList/wishList.pug
                