.ui.top.menu
    a.item.topBanner(src='')
        .logo  
            span.logo1 Game
            span.logo2 App
            p.logo3 Buy your games here!
    .ui.pointing.dropdown.simple.link.item.banner_small_font
        span.text Need Help
        i.dropdown.icon
        .menu.banner_question_dropdown
            .banner_header_gray Top Question
            a.item.banner_question(src='') Where's my order?
            a.item.banner_question(src='') What is your return policy?
            a.item.banner_question(src='') How do I check my gift card balance?
            .divider
            a.item.banner_link_help_section Don't see our 
    a.item.banner_small_font
        .banner_rewards PowerUp Rewards
    a.item.banner_small_font
        .banner_store Find a Store
    a.item.banner_small_font
        img.banner_gift_card_icon(src='https://t4.ftcdn.net/jpg/02/34/38/37/240_F_234383702_qcS0sdBaUFIJUHMl4l8Ecp8Zp6SoP0A5.jpg')
        .banner_gift_cards Gift Cards
    a.item.banner_small_font
        .banner_weekly_ad Weekly Ad
    a.item.banner_small_font
        .banner_deals Deals