nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.justify-content-between.mb-3.rounded-bottom
  a.navbar-brand(href='/') GameApp
  div
    a(href="/users/login").navbar_link_login
      button.btn.bg-dark.btn-outline-primary.nav_button_login Account