.searchBar_signIn
    .searchBar_searchIcon
        input.searchBar(placeholder='Find games, consoles, tabets, and more')
        i.search.icon
    .signIn_cart
        button.ui.button.signIn
            a.signIn_text Sign In
            br
            a.account_text Your Account
        button.ui.button.cart
            i.shopping.cart.icon
            a.cart_text Your Cart